pre {
  padding: 6px 10px;
  background-color: #f8f8f8;
  line-height: 1.2em;
  border: 1px solid #dddddd;
  font-size: 1.1em;
  margin: 1.5em 0 1.5em 0;
  overflow: auto; }

tt {
  background-color: #ecf0f3;
  color: #222;
  /* padding: 1px 2px; */
  font-size: 1.1em;
  font-family: monospace; }
  
#sidebar .panel {padding: 0px;}
#sidebar label {background: #4D4D4D; color: #fff;text-align: center;font-size: 13px;}
#sidebar li {font-size: 14px;padding-left: 12px; margin-top: 5px; margin-bottom: 5px;}
#sidebar li a {padding: 0;}
#sidebar li.divider { border-color: #646464;}

.contain-to-grid {background: #AAA;}
.top-bar {background: transparent;}
.top-bar .name {padding-top: 4px;}
.top-bar-section ul {background: transparent;}
.top-bar-section li:not(.has-form) a:not(.button) {background: transparent;}
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-color: #CCC;
}

footer.row {
    background-color: #CCC;
    padding-top: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
